-i https://pypi.org/simple
pyside6==6.7.2; python_version < '3.13' and python_version >= '3.9'
pyside6-addons==6.7.2; python_version < '3.13' and python_version >= '3.9'
pyside6-essentials==6.7.2; python_version < '3.13' and python_version >= '3.9'
shiboken6==6.7.2; python_version < '3.13' and python_version >= '3.9'
