-i https://pypi.org/simple
attrs==24.2.0; python_version >= '3.7'
jsonschema==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
pyside6==6.7.3; python_version < '3.13' and python_version >= '3.9'
pyside6-addons==6.7.3; python_version < '3.13' and python_version >= '3.9'
pyside6-essentials==6.7.3; python_version < '3.13' and python_version >= '3.9'
referencing==0.35.1; python_version >= '3.8'
rpds-py==0.20.0; python_version >= '3.8'
shiboken6==6.7.3; python_version < '3.13' and python_version >= '3.9'
