QWidget {
    background-color: black;
}
QComboBox {
    background-color: black;
    color: white;
}
QComboBox::down-arrow:on {
    top: 1px;
    left: 1px;
}
QAbstractItemView {
    background-color: black;
    color: white;
}